.secdnav {
    border-bottom: 1px solid var(--green-color);
}

.pass-content {
    box-shadow: 0px 0px 8px var(--green-color);
    padding: 20px;
    width: 50%;
}

.pass-content h4 {
    color: var(--green-color);
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.pass-content label {
    color: #898989;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    margin: 5px 0;
    font-weight: bold;
}

.pass-content input,
.pass-content input:focus {
    margin: 5px 0;
    border: 1px solid var(--green-color);
}

.pass-content .form-group {
    padding: 0 30px;
}

@media (max-width: 767.98px) {
    .pass-content {
        width: 80%;
    }
}

@media (max-width: 575.98px) {
    .pass-content {
        width: 100%;
    }
    .pass-content .form-group {
        padding: 0 10px;
    }
}